
@import "bootstrap-4.3.1-dist/css/bootstrap.min.css";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import "imports/functions";
@import "imports/variables";
@import "imports/reset";
@import "imports/general";
@import "imports/tables";
@import "imports/forms";
@import "imports/buttons";
@import "imports/icons";
@import "imports/helpers";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/docs";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";

//@import "imports/prism";

.slide-item{
    position: relative;
}
.slide-item img{
    width:100%;
}
.slide-item .title{
    position: absolute;
    left:50px;
    top: 30%;
    z-index: 1;
    color: #fff;
}
.slick-prev{
    z-index: 1;
    left: 25px;
}
.slick-next{
    z-index: 1;
    right: 25px;
}
.featureSection .block-buttons{
    justify-content: flex-start;
}
.feature-service-list{
    margin-top: 30px;
}
.site-logo img{
    width: 150px;
}
.client-wrap{
    img{
        opacity: 0.6;
        transition: all 500ms;
        &:hover{
            opacity: 1;
        }
    }
}
.nav-tabs{
    .nav-link{
        text-decoration: none;
        color: $gray-700;
    }
}
.slick-dots{
    bottom:25px;
    li{
        background-color: #fff;
        border-radius: 50%;
        button{
            &:before{
                font-size: 10px;
                top:1px;
            }
        }
    }
}
ul.ticklist{
    li{
        &:before{
            content: "";
            background: url('/images/new/tick.svg');
            width: 20px;
            height: 20px;
            position: relative;
            display: inline-block;
            margin-right: 15px;
            vertical-align: middle;
            top: -2px;
    }
}
padding-left: 0;
    list-style: none;
}
.react-tabs__tab-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
.react-tabs__tab{
    background: #fff;
    padding: 12px 25px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    font-weight: 700;
    border:none;
    border-radius: 0;
    padding: 1em;
}
.react-tabs__tab--selected{
    background-color: #0072ff;
    color: #fff;
    border-radius: 0;
}
@media only screen and (min-width: 641px) {
    
    .react-tabs__tab-panel{
        background-color: #fff;
        padding: 2em;
    }
    .react-tabs__tab--selected{
        border-radius: 0;
    }
.react-tabs__tab-list{
    display: flex;
    justify-content: space-between;
    border: none;
}
.react-tabs__tab{
    border:none;
    flex-grow:1;
    text-align: center;
    padding: 1em 2em;
}
}